[Unit]
Description=A.L.F.R.E.D. Almighty Lightweight Fact Remote Exchange Daemon
Documentation=man:alfred(8)
Wants=network-online.target
After=network-online.target
ConditionPathExists=/etc/default/alfred

[Service]
EnvironmentFile=/etc/default/alfred
ExecStart=/bin/sh -ec '/usr/sbin/alfred -i $INTERFACE -b $BATMANIF -u $UNIX_SOCKET $DAEMON_ARGS'
Group=alfred
UMask=007
Type=simple

[Install]
WantedBy=multi-user.target
